 .input_bg {
    background-color: #0C183B !important;
    border-radius: 2px !important;
}

.default_btn{
  background: transparent;
  border-radius: 1px;
  border-color: #1B3687;
}

.btn_container{
  /* display: "flex", justifyContent: "space-between",gap:"0.5rem" */
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.title{
  font-size: 20px !important;
}


.testingTextarea > textarea {
  background-color: #0C183B !important;
}

/* .ant-input-affix-wrapper .ant-transfer-list-search .css-dev-only-do-not-override-1tch6d5  { */
.transferStyles  {
  background-color: red !important;
}