.container {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  border-radius: 0.5rem;
  overflow: hidden;
}

.alerts {
  width: calc(25% - 1rem);
  flex-shrink: 0;
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;

}
.alerts_bg{
  background: #1B2438 !important;

}
.alert_light{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.list {
  flex: 1 1 auto;
  max-height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.list_bg{
  background: #1B2438 !important;

}
.list::-webkit-scrollbar {
  display: none;
}


.map {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

.count {
  display: block;
}

.mapButton {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1;
  color: #666;
  text-transform: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  border: 0;
  border-radius: 2px;

  &:hover {
    color: #333;
  }
}
